<div class="main-chat-div">
    <div style="display: flex;">
        <p style="font-weight: bold;">Users in Chat: &nbsp;</p>
        @for(chat of chat.users_in_chat; track chat){
            
            
            <p >
        
                {{chat.name}},&nbsp;
            </p>
        }

        <mat-accordion>
            <mat-expansion-panel hideToggle>
              <mat-expansion-panel-header>
                <mat-panel-title> Update Members of Chat</mat-panel-title>
                
              </mat-expansion-panel-header>
              <form [formGroup]="checkboxForm" class="create-chat-form" >
        
                <div formArrayName="checkboxes">
                    <label *ngFor="let item of users; let i = index">
                      <input  type="checkbox" [formControlName]="i" />
                      {{ item.name }}
                    </label>
                  </div>
            </form>  
              <button mat-fab extended (click)="updateUsersInChat()">
            <mat-icon>add_circle</mat-icon>
            Create new list of users in chat
        </button>
            </mat-expansion-panel>
            
          </mat-accordion>
        
    </div>
    
    <div class = "chat-section">
        <h1>{{chat.chat_name}}</h1>

    
        <mat-table [dataSource]="dataSource" id="messages" class="messages">

            <!--- Note that these columns can be defined in any order.
                The actual rendered columns are set as a property on the row definition" -->
        
            <!-- Position Column -->
            <ng-container matColumnDef="User">
            <th mat-header-cell *matHeaderCellDef class="user-cell" style="border-bottom: 5pt solid; border-color: black;"> User </th>
            <td mat-cell *matCellDef="let element" class="user-cell"> {{users_in_chat.get(element.user_id)}} </td>
            </ng-container>
        

            <!-- Weight Column -->
            <ng-container matColumnDef="Message">
            <th mat-header-cell *matHeaderCellDef class="message-cell" style="border-bottom: 5pt solid; border-color: black;"> Message </th>
            <td mat-cell *matCellDef="let element"  class="message-cell"> {{element.message}} </td>
            </ng-container>
        
            <!-- Symbol Column -->
            <ng-container matColumnDef="time">
            <th mat-header-cell *matHeaderCellDef class="time-cell" style="border-bottom: 5pt solid; border-color: black;"> Time </th>
            <td mat-cell *matCellDef="let element"  class="time-cell"> {{element.time}} </td>
            </ng-container>

            <ng-container matColumnDef="date">
                <th mat-header-cell *matHeaderCellDef class="date-cell" style="border-bottom: 5pt solid; border-color: black;"> Date </th>
                <td mat-cell *matCellDef="let element"  class="date-cell"> {{element.date}} </td>
                </ng-container>
        
            <tr mat-header-row *matHeaderRowDef="displayedColumns;" class="header"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </mat-table>
    


        <form class="chat-form">
            <mat-form-field class="chat-form-field">
                <mat-label>Message</mat-label>
                <input matInput  placeholder="message" id="chat-input">
            </mat-form-field>

            <button mat-fab extended class="send-button" (click)="sendMessage()">
                <mat-icon>send</mat-icon>
                Send
            </button>
        </form>   
    </div>


</div>
