.main-chat-div{
    margin-left: 30%;
    /* margin-bottom: 10%; */
    background-color: aqua;
    width: 50%;
    height: 80%;
}



.header{
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 100;
}

.header-cell{
    color: black;
    font-weight: bold;
    border-bottom: 5pt solid;
}

.messages{
    overflow-x: scroll;
    background-color: cadetblue;
    height: 100%;
    
}
.user-cell{
    width: 25%;
    color: black;
}

.message-cell{
    width: 25%;
    color: black;
}

.time-cell{
    width: 25%;
    color: black;
}

.chat-form{
    position: absolute;
    bottom: 0;
    background-color: blue;
    width: 50%;
}
.chat-form-field{

    width : 70%;
    
}
.send-button{
}