.chat-list{
    display: block;
}

.side-nav-container{
    margin-left: 0%;
    /* margin-bottom: 10%; */
    width: 300px;
    height: 60%;
    background-color: blueviolet;
    display: flex;
  flex-direction: column;
}

mat-sidenav{
    background-color: blueviolet;
}

.go-to-button{
    width: 300px;
    background-color: black;
}